<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="cordova-plugin-datalogic"
        version="0.1.0">

  <name>Datalogic Cordova Plugin</name>

  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/barcodeDecoder.js" target="js/barcodeDecoder.js"/>
  <asset src="www/scannerProperties.js" target="js/scannerProperties.js"/>
  <asset src="www/test.js" target="js/test.js"/>

  <js-module src="www/barcodeDecoder.js" name="barcodeDecoder">
    <clobbers target="barcodeDecoder" />
  </js-module>
  <js-module src="www/scannerProperties.js" name="scannerProperties">
    <clobbers target="scannerProperties" />
  </js-module>
  <js-module src="www/test.js" name="test">
    <clobbers target="test" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="BarcodeDecoder">
        <param name="android-package" value="com.datalogic.cordova.decode.BarcodeDecoder"/>
        <param name="onload" value="true" />
      </feature>
      <feature name="ScannerProperties">
        <param name="android-package" value="com.datalogic.cordova.decode.configuration.ScannerProperties"/>
        <param name="onload" value="false" />
      </feature>
      <feature name="Test">
        <param name="android-package" value="com.datalogic.cordova.test.Test"/>
        <param name="onload" value="true" />
      </feature>
    </config-file>

    <config-file target="AndroidManifest.xml" parent="/manifest/application">
      <uses-library
            android:name="com.datalogic.device"
	    android:required="true" />
    </config-file>

    <source-file src="src/android/BarcodeDecoder.java" target-dir="src/com/datalogic/cordova/decode"/>
    <source-file src="src/android/ScannerProperties.java" target-dir="src/com/datalogic/cordova/decode/configuration"/> 
    <source-file src="src/android/Test.java" target-dir="src/com/datalogic/cordova/test"/> 
    <framework src="build.gradle" custom="true" type="gradleReference" />
  </platform>

</plugin>
